<p>
<table align="center" class="tbord" width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr> 
    <td colspan="7" class="cathead"><a name="econ"></a>Economy</td>
  </tr>
  <tr> 
    <td width="250" height="20" class="row2">&nbsp;</td>
    <td height="20" align="center" valign="middle" class="row2"><strong>Food</strong></td>
    <td height="20" align="center" valign="middle" class="row2"><strong>Wood</strong></td>
    <td height="20" align="center" valign="middle" class="row2"><strong>Gold</strong></td>
    <td height="20" align="center" valign="middle" class="row2"><strong>Favor</strong></td>
    <td width="120" height="20" align="center" valign="middle" class="row2"><strong>Relics</strong></td>
    <td width="120" height="20" align="center" valign="middle" class="row2"><strong>Town Centers</strong></td>
  </tr>
  <tr> 
    <td class="row1"><strong>Average</strong></td>
    <td align="right" valign="middle" class="row1">{af}</td>
    <td align="right" valign="middle" class="row1">{aw}</td>
    <td align="right" valign="middle" class="row1">{ag}</td>
    <td align="right" valign="middle" class="row1">{afv}</td>
    <td align="right" valign="middle" class="row1">{ar}</td>
    <td align="right" valign="middle" class="row1">{atc}</td>
  </tr>
  <tr> 
    <td class="row2"><strong>Total</strong></td>
    <td align="right" valign="middle" class="row2">{tf}</td>
    <td align="right" valign="middle" class="row2">{tw}</td>
    <td align="right" valign="middle" class="row2">{tg}</td>
    <td align="right" valign="middle" class="row2">{tfv}</td>
    <td align="right" valign="middle" class="row2">{tar}</td>
    <td align="right" valign="middle" class="row2">{ttc}</td>
  </tr>
</table>
</p>