<p align="center"></p>
<table class="tbord" align="center"  width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr><td colspan="7"  class="cathead">Economy</td></tr>
  <tr height="20">
  <td class="row2"><strong>Player</strong></td>
  <td class="row2"><strong>Civilian High</strong></td>
  <td class="row2"><strong>Food</strong></td>
  <td class="row2"><strong>Wood</strong></td>
  <td class="row2"><strong>Gold</strong></td>
  <td class="row2"><strong>Favor</strong></td>
    <td class="row2"><strong>Gold Traded</strong></td>
</tr>  
  