<P align="center">
<table class="tbord" width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr> 
    <td colspan="8" class="cathead"><a name="games"></a>Recent Games from {player}</td>
  </tr>
  <tr valign="middle"> 
    <td height="20" class="row2" align="left"><strong>Game Number</strong></td>
    <td height="20" class="row2" align="left"><strong>Date</strong></td>
<td class="row2" align="center"><strong># of Players</strong></td>
<td class="row2" align="center"><strong>Length</strong></td>

  </tr>
