<P align="center">
<link href="../eso.css" rel="stylesheet" type="text/css">
<table class="tbord" width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr> 
    <td colspan="9" class="cathead">{player} <a name="ages"></a> Ages</td>
  </tr>
  <tr align="center" valign="middle" class="row2head"> 
    <td width="30" height="20" class="row2"><strong>Age</strong></td>
    <td width="110" height="20"><strong>Time To Age</strong></td>
    <td width="80"><strong>Diety</strong></td>
    <td height="20" colspan="2"><strong>Civillian Units</strong></td>
    <td height="20" colspan="2"><strong>Military Units</strong></td>
    <td height="20" colspan="2"><strong>Myth Units</strong></td>
  </tr>
  <tr align="center" valign="middle" class="row2"> 
    <td>&nbsp;</td>
    <td width="100">&nbsp;</td>
    <td width="150">&nbsp;</td>
    <td width="85"><strong>+</strong></td>
    <td width="85"><strong>-</strong></td>
    <td width="85"><strong>+</strong></td>
    <td width="85" height="12"><strong>-</strong></td>
    <td width="85"><strong>+</strong></td>
    <td width="85"><strong>-</strong></td>
  </tr>
  <tr align="center" valign="middle" class="row1"> 
    <td><img src="img/age1.gif" width="20" height="20"></td>
    <td>{a1t}</td>
    <td>{a1d}</td>
    <td>{a1cp}</td>
    <td>{a1cpK}</td>
    <td>{a1mp}</td>
    <td>{a1mpK}</td>
    <td>{a1myp}</td>
    <td>{a1mypK}</td>
  </tr>
  <tr align="center" valign="middle" class="row2"> 
    <td><img src="img/age2.gif" width="20" height="20"></td>
    <td>{a2t}</td>
    <td>{a2d}</td>
    <td>{a2cp}</td>
    <td>{a2cpK}</td>
    <td>{a2mp}</td>
    <td>{a2mpK}</td>
    <td>{a2myp}</td>
    <td>{a2mypK}</td>
  </tr>
  <tr align="center" valign="middle" class="row1"> 
    <td><img src="img/age3.gif" width="20" height="20"></td>
    <td>{a3t}</td>
    <td>{a3d}</td>
    <td>{a3cp}</td>
    <td>{a3cpK}</td>
    <td>{a3mp}</td>
    <td>{a3mpK}</td>
    <td>{a3myp}</td>
    <td>{a3mypK}</td>
  </tr>
  <tr align="center" valign="middle" class="row2"> 
    <td><img src="img/age4.gif" width="20" height="20"></td>
    <td>{a4t}</td>
    <td>{a4d}</td>
    <td>{a4cp}</td>
    <td>{a1cpK}</td>
    <td>{a4mp}</td>
    <td>{a4mpK}</td>
    <td>{a4myp}</td>
    <td>{a4mypK}</td>
  </tr>
</table>
</P>