<!--God Row-->
<tr valign="middle"> 
    <td rowspan="2" align="left" class="{class}"><img src="img/BigGods/{god}.gif" width="51" height="52"></td>
    <td align="left" class="{class}"><strong>Used:</strong></td>
    <td align="left" class="{class}">{used}</td>
    <td align="left" class="{class}">{pct}% </td>
    <td align="center" class="{class}"><table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="18" width="{widthuse}%" class="bar"></td>
          <td class="opposite" width="100%"></td>
        </tr>
      </table></td>
  </tr>
  <tr valign="middle"> 
    <td width="20" align="left" class="{class}"><strong>Won:</strong></td>
    <td width="15" align="left" class="{class}">{wins}</td>
    <td width="20" align="left" class="{class}">{wpct}%</td>
   
   
    <td width="700" align="center" class="{class}">
	
	<table width="95%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td height="18" width="{widthwin}%" class="bar2"></td>
          <td class="opposite" width="100%"></td>
        </tr>
      </table>

</td>
  </tr>


<!--End God Row-->
