<p align="center"></p>
<table class="tbord" align="left"  width="73%" border="0" cellspacing="1" cellpadding="0">
    <tr><td colspan="2"  class="cathead">Welcome to the ESO stats page!</td></tr>
  <tr>
    <td valign="top" class="row1"><p>This webpage is not affiliated with <a href="http://www.microsoft.com/games/" target="_blank">Microsoft 
        Games</a>, <a href="http://ensemblestudios.com" target="_blank">Ensemble Studios</a>, 
        or <a href="http://eso.com/" target="_blank">ESO</a>.</p>
      <p>This is a php utility that pulls XML data from the ESO servers 
        and turns it into readable detailed stats. </p>
      <p><strong>Features:</strong><br>
        - Full AoM:TT support<br>
        - Detail Player Stats<br>
        - Player Search<br>
        - Top 1000 Players Real time (grouped into 10 pages)<br>
        - Recent Game Lists<br>
        - Full GameStats with Graphs<br>
        - Detailed Population Statistics<br>
        - Time Offset setting with cookies<br>
      </p>
      <p><strong><br>
        </strong><br>
      </p>
      </td>
</tr>  
  </table>