<p align="center" class="head">{player} Statistics</p>
<P align="center"><table align="center" cellspacing="0" cellpadding="0" border="0" height="20" class="row2head" width="98%"><tr><td align="center"><strong><a href="#ages">Ages</a> | <a href="#econ">Economy</a> | <a href="#games">Recent Games</a> | <a href="#gods">God Usage</a> | <a href="#games">Recent Games</a> | <a href="#Civilian">Civilian Units</a> | <a href="#Military">Military Units</a> | <a href="#Myth">Myth Units</a> | <a href="#GP">God Powers</a></strong></td></tr></table></p>
<P align="center">
<table class="tbord" width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr> 
    <td colspan="10" class="cathead">{time} - {type} ({ver})</td>
  </tr>
  <tr> 
    <td class="row2"><strong>Rating</strong></td>
    <td class="row2"><strong>Games</strong></td>
    <td class="row2"><strong>Wins</strong></td>
    <td class="row2"><strong>Losses</strong></td>
    <td class="row2"><strong>Win %</strong></td>
    <td class="row2"><strong>Avg Score</strong></td>
    <td class="row2"><strong>Rank</strong></td>
    <td class="row2"><strong>Avg Time</strong></td>
    <td class="row2"><strong>Total Time</strong></td>
    <td class="row2"><strong>Last Game</strong></td>
  </tr>
  <tr> 
    <td class="row1">{rating}</td>
    <td class="row1">{games}</td>
    <td class="row1">{wins}</td>
    <td class="row1">{losses}</td>
    <td class="row1">{winpct}%</td>
    <td class="row1">{avgscore}</td>
    <td class="row1">{rank}</td>
    <td class="row1">{avgGtime}</td>
    <td class="row1">{totGtime}</td>
    <td class="row1">{lstgame}</td>
  </tr>
</table>
</P>