<p align="center"></p>
<table class="tbord" align="center"  width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr><td colspan="6"  class="cathead">Scores</td></tr>
  <tr>
  <td height="20" class="row2"><strong>Player</strong></td>
  <td class="row2"><strong>Total Score</strong></td>
  <td class="row2"><strong>Economy</strong></td>
  <td class="row2"><strong>Military</strong></td>
  <td class="row2"><strong>Myth</strong></td>
  <td class="row2"><strong>Advancement</strong></td>
</tr>  
  