<tr><td class="{class}"><a href="?do=PlayerInfo&type={qtype}&time={Ctime}&ver={ver}&player={player}"><strong>{type}</strong></a></td>
    <td class="{class}">{rating}</td>
    <td class="{class}">{games}</td>
    <td class="{class}">{wins}</td>
    <td class="{class}">{losses}</td>
    <td class="{class}">{winpct}%</td>
	 <td class="{class}">{rank}</td>
    <td class="{class}">{avgscore}</td>
	<td class="{class}">{avgGtime}</td>
    <td class="{class}">{tGtime}</td>
	 <td class="{class}">{lstgame}</td>
	</tr>  