<P align="center">
<table class="tbord" width="98%" border="0" cellspacing="1" cellpadding="0">
  <tr> 
    <td colspan="8" class="cathead"><a name="{sect}"></a>{sect} Units</td>
  </tr>
  <tr valign="middle"> 
    <td height="20" class="row2" align="center" width="250"><strong>Unit</strong></td>
    <td class="row2" align="center"><strong>Games</strong></td>
    <td class="row2" align="center"><strong>Average Made</strong></td>
    <td class="row2" align="center"><strong>Average Lost</strong></td>
    <td class="row2" align="center"><strong>Total Made</strong></td>
    <td class="row2" align="center"><strong>Total Lost</strong></td>
    <td class="row2" align="center"><strong>Survival</strong></td>
	 <td class="row2" align="center"><strong>Last Used</strong></td>
  </tr>
